[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BMEmapping"]
	path = BMEmapping
	url = https://github.com/kinsprideduah/bmemapping
